*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
  
}

#main{
    width: 100%;  
    height: 100vh;
   
}

#back{
    width: 100%;  
    height: 100vh;
    background-color: rgb(253, 13, 13);
}

#back image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100vh;
 
  
}

#working-area{
    position: relative;
    margin: 0 auto;
width: 80%;
height: 100vh;
max-width: 1920px;

}

#nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    padding: 40px 0;

}

#nav img{
    height: 61px;
}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 50px;
    
}

#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
     font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFF;
    font-family: "gilroy";

}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}


#heroleft{
    min-width: 50%;
}

#heroleft .elem {
    position: relative;
   
    height: 9vw;
    overflow: hidden;
   
}

#heroleft .elem h1:nth-child(1){
    top: 0;
}



#heroleft .elem h1{
   position: absolute;
   top: 100%;
   left: 0;
    line-height: .9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFF;
    font-weight: 100;
    font-size: 5vw;
}
/* #heroleft button{
    pointer-events: all;
    padding: .8vw 2vw;
    font-size: 3.5vw;
    margin-top: 2vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 0 0 0.5vw #000;
    background-color: rgb(148, 10, 10);
    
} */

#heroleft button {
    pointer-events: all;
    padding: .8vw 2vw;
    font-size: 3.5vw;
    margin-top: 2vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

   
    border-radius: 1.5vw; 

    /* Premium glowy border effect */
    box-shadow: 0 0 1.5vw 0.5vw rgb(163, 14, 1), 
                0 0 0 0.25vw rgba(2, 170, 179, 0.9);  
    border: none; /* Remove any default borders */
    background-color: #050505; 
    color: #fff;
}

/* #heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18%;
    color: #FFF;
   
  
   
}

#heroright p{
   
    text-align: right;
    font-size: 14px;
    font-weight: 300;
}

#heroright #imagediv{
    width: 100%;
    height: 180px;
 background-image: url(https://images.unsplash.com/photo-1753952253421-3f4bcdd697ee?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#heroright p:nth-child(3){
    margin-bottom: 100px;

} */
